@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;

}

.sidebar {
    background-color: steelblue;
}

.center {
    background-color: rgb(20, 19, 19);

}

.top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 30px;
    gap: 100px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(206, 200, 200);
    opacity: 0.7;

}


.display {
    display: flex;
    align-items: center;

}

.search-input {
    padding: 8px;
    border: 1px solid rgb(128, 123, 123);
    border-radius: 4px;
    outline: none;
    width: 600px;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;

}

.search-icon {
    margin-left: 8px;
    cursor: pointer;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    height: 75%;
}

.top-left-bottom {
    /* background-color: red; */
    height: 100%;
    overflow: hidden;
    /* Ensure no content overflows and causes scrollbar */
    position: relative;

}

#jazz {
    width: 100%;
    height: auto;
    position: absolute;
    /* Position the image absolutely within the parent */
    top: 0;
    left: 0;
    ;
}

.top-right-bottom {
    /* background-color: purple; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    position: relative;
}

.trending {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.centered h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.false {
    display: flex;
    gap: 50px;
}

.ruby {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

#Listen {
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 20px;
    margin-left: 50px;

}

#heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(155, 152, 152);
}

#inside-heart {
    font-size: 2rem;
    color: #4169e1;
    /* Set the color of the heart icon */
}

.bottom-left {
    background-color: #0a0f1f;
    color: white;
    margin: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-heading a {
    text-decoration: none;
    color: rgb(206, 200, 200);
}

.genres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 400px;
    gap: 25px;
}


.card {
    height: 90px;
    width: 200px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

#pop {
    background-color: #FF69B4;
}

#saxo {
    background-color: #006400;
}

#rnb {
    background-color: #8A2BE2;
}

#country {
    background-color: #8B4513;
}

#indie {
    background-color: #FF6347;
}

#rock {
    background-color: #FF4500;
}

.bottom-right {
    background-color: aliceblue;
    position: relative;
    background-color: #0a0f1f;
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 5px;
    /* overflow: hidden; */

}

.botton-heading {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: white;

}

#dog {
    width: 50px;
}

.first-line {
    display: flex;
    gap: 50px;
    margin: 20px;
}

.first-line h2 {
    color: white;
}

.name #title-song {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}

.name #title-song+p {
    color: grey
}

.push-via {
    display: flex;
    justify-content: end;
    gap: 20px;
    /* margin-right: 10px; */
    text-align: center;
    /* align-items: flex-start; */
}

.push-via p {
    color: #fff;
}

#play {
    color: #4169e1;
}

#star {
    color: white;
}





.end {
    background-color: rgb(20, 19, 19);
}

.top-proj {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    color: white;
    margin: 5px;
}

.top-proj img {
    border-radius: 50%;
}

.namw {
    border: none;
    height: 40px;
    width: 70px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bottom-proj {
    background-color: #000;
}

.bottom-proj .heading {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px;
}

.image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.image-div img {
    width: 200px;
    border-radius: 20px;
}

.image-div h2 {
    font-size: 2rem;
}